{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ author }}</h1>
  {% for book in author.book_set.all %}
  <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
  <p><strong>Summary:</strong> {{ book.summary}}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p>
  <p><strong>Genre:</strong> {{ book.genre.all|join:", " }}</p>

  
  {% endfor %}


  {% if author.date_of_death %}
  <p><strong>Date of death:</strong> {{ author.date_of_death }}</p>
{% endif %}


  </div>
{% endblock %}
